---
layout: default
---
<div class="container content" style="text-align: center">
    <h1 class="post-title" style="text-align: center">
        {{ site.author }}
    </h1>
    <h3>Software Ethusiast</h3>
    <div>Github: <a href="http://www.github.com/nelsonlho">http://www.github.com/nelsonlho</a></div></br>
    <div>LinkedIn: <a href="http://www.linkedin.com/in/nelsonlho">http://www.linkedin.com/in/nelsonlho</a></div></br>
    <div>Twitter:  <a href="http://www.twitter.com/nelson_examiner">http://www.twitter.com/nelson_examiner</a></div></br>
</div>
